streamlit>=1.49.1
pretty_midi>=0.2.10
music21>=8.3.0
numpy>=1.23
pydub>=0.25
setuptools>=65
mido>=1.3.0
python-rtmidi>=1.5.8
pandas>=2.0
plotly>=5.18
imageio-ffmpeg>=0.4.9
torch==2.1.2
torchaudio==2.1.2
audiocraft==1.0.0
spacy==3.5.2
